# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

REACT_APP_API_BASE="postgres://byrvueaartogiw:f7b4a5c2a6304dc0a143f7fb6ff04fa8fedaec30d59f5e619e75adbfbbaf2a14@ec2-54-83-55-122.compute-1.amazonaws.com:5432/det2ce6mqbqeqi"
