* { 
  font-family: 'Tajawal', sans-serif;
}





/* SIGN UP */
.login-signup-window { 
  background-color: rgba(133, 185, 237, .7);
  width: 100vw; 
  height: 100vh; 
}

.form-container { 
  background-color: rgb(255, 255, 255, .8); 
  width: 25vw; 
  height: 45vh; 
  position: fixed; 
  top: 23%; 
  left: 37.5%; 
  border-radius: 15px; 
}

.sign-up-form {
  text-align: center;  
  margin-top: 8%;    
}

.sign-up-form input { 
  margin: 20px; 
  height: 15px;
  width: 220px;  
  font-size: 20px; 
  padding: 10px;
  padding-top: 20px;  
  font-weight: 100; 
  margin-bottom: 3px;   
}

.sign-up-btn { 
  height: 40px; 
  width: 80px; 
  border-radius: 12px; 
  font-size: 17px; 
  font-weight: bold; 
  padding-top: 6px; 
  margin-top: 30px; 
  cursor: pointer;
}

.sign-up-btn:hover { 
  background-color: seagreen; 
}

.login-background { 
  position: fixed; 
  width: 100vw; 
  height: 65vh; 
  margin-top: 35vh; 
}

.plane-login { 
  position: fixed;
  height: 150px;
  width: 200px;   
  left: 100%; 
  top: 10%; 
}

.login-btn { 
  margin: 10px;
  font-size: 20px; 
  text-decoration: underline;
  border: none; 
  background-color: transparent; 
  outline: none;   
  cursor: pointer;
  color: darkblue; 
}

.login-btn:hover {
  color: seagreen; 
 }

 .login-btn:active {
  color: gray;
 }






/* SEARCH */
.search-container { 
  background-color: rgba(133, 185, 237, .7);
  width: 100vw; 
  height: 100vh;
  position: relative; 
}

.search-list-container { 
  background-color: rgb(0, 41, 102, .97);
  /* border-style: solid; 
  border-color: black;  */
  height: 75vh;
  width: 25vw; 
  position: fixed; 
  top: 15%; 
  left: 5%; 
  text-align: center; 
  border-radius: 10px; 
  color: white; 
}

.flight-detail-card {  
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.flight-detail-card p{
  margin-top: 60px; 
}

.flight-detail-card h2 { 
  font-size: 35px; 
}

.direct-flight { 
  font-size: 25px; 
}

.departure-date { 
  font-size: 20px; 
}

.departure-city { 
  font-size: 35px; 
}

.result-arrow { 
  margin-right: 20px; 
  margin-left: 20px; 
}

.price { 
  font-size: 43px;
}

.result-submit { 
  width: 80px; 
  height: 30px; 
  font-size: 20px; 
  border-radius: 15px; 
  margin-top: 25px; 
  cursor: pointer;
  padding-top: 5px;
}

.result-submit:hover { 
  background-color: gray;
  color: white;  
}






/* Search Bar Container */

.search-bar-container { 
  position: fixed; 
  width: 100vw; 
  height: 15vh; 
}

.search-bar-container form{  
  display: flex;  
  margin-top: 2.5%; 
  margin-left: 40%; 
  z-index: 5; 
}

.search-label { 
  font-size: 30px; 
  margin-top: 9px;
  margin-left: 20px; 
  margin-right: 12px;  
}

.search-bar-container input { 
  width: 100px;
  height: 30px;  
  font-size: 18px; 
  border-radius: 5px; 
  padding: 6px 7px 0px 7px; 
}

.submit-search-btn { 
  margin-left: 23px; 
  border-radius: 15px; 
  font-size: 20px; 
  background-color: rgb(0, 41, 102); 
  color: white; 
  font-weight: bold; 
  height: 30px;
  margin-top: 3px;  
  cursor: pointer;
  padding: 7px 20px 25px 20px;  
}

.submit-search-btn:hover { 
  background-color: gray
}

.sign-out { 
  position: fixed; 
  left: 93%;
  top: 3%;
  border: none; 
  background-color: transparent; 
  outline: none; 
  color: rgb(0, 41, 102); 
  cursor: pointer;
}

.sign-out:hover { 
  color: gray; 
}

.logout-word { 
  margin-top: 2px; 
  font-size: 15px; 
}

.cloud-1 { 
  position: fixed; 
  width: 500px; 
  height: 250px; 
  left: -30%;
  top: 60%; 
  z-index: -1
}

.cloud-2 { 
  position: fixed; 
  width: 400px;
  height: 300px; 
  left: -30%; 
  z-index: -1
}

.cloud-3 { 
  position: fixed;
  width: 350px;
  left: -50%;
  top: 73%;
  z-index: -1
}

.cloud-4{ 
  position: fixed; 
  width: 350px;
  left: -30%;
  top: 50%;
  z-index: -1
}

.cloud-5 { 
  position: fixed; 
  left: -30%; 
  height: 220px; 
  top: 60px; 
  z-index: -1
}

.cloud-6 { 
  position: fixed; 
  width: 350px;
  left: -30%;
  top: 35%;
  z-index: -1
}

.plane-1 { 
  position: fixed; 
  height: 40%; 
  left: 50%;
  top: 35%;  
}




/* Saved Search Container */

.saved-search-container { 
  /* background-color: #7CAA2D; */
  width: 63vw; 
  max-height: 75vh;
  position: fixed; 
  top: 15%; 
  left: 32.5%; 
  z-index: 1;
  background-color: rgb(255, 255, 255, .95);
  border-radius: 10px; 
  /* display: flex; 
  flex-direction: column;  */
}

.saved-items { 
  width: 100%; 
  height: 100px; 
  font-size: 30px; 
  display: flex; 
  flex-direction: row;
  margin-bottom: 20px; 
  /* justify-content: space-between; */
  
}

.saved-items h4 { 
  margin-left: 17px; 
  width: 24%;
}

.saved-date { 
  font-size: 17px; 
  margin-top: 46px; 
  width: 12%
}

.saved-origin { 
  margin-top: 38px; 
  width: 11%;
}

.saved-destination { 
  margin-top: 36px; 
  width: 11%; 
}

.saved-direct { 
  margin-top: 35px; 
  width: 17%;
}

.saved-price { 
  margin-top: 35px; 
  width: 11%; 
}

.saved-items button { 
  border: none; 
  background-color: transparent; 
  outline: none; 
  margin-right: 10px; 
}

.arrow-right { 
  margin-top: 38px; 
  width: 7%;
}

.trash-btn { 
  cursor: pointer;
}

.trash-btn:hover { 
  color: gray; 
}
